body {
  padding-top: 50px;
}
.base {
  padding: 40px 15px;
  text-align: center;
}
.centPic {
  align-content: center;
  border-radius: 50%;
  padding: 10px;
}
.navbar {
  background-color: black;
}
.navbar-item {
  color:white;
}
.active {
  background-color: rgb(33, 97, 61)
}
.navbar-item:hover,
.navbar-item:focus {
  background-color: #A5D4A5;
}
.back {
  background-color: #A5D4A5;
}
.learnText {
  font-size: 30pt;
}
.company {
  background-color: seagreen !important;
    color: white !important;
    padding: 50px !important;
    border-radius: 0px 0px 15px 15px !important;
}
.b1 {
  color: white;
}